In [64]:
import sqlite3
import pandas as pd

def addstudent(name,pas):
#     name =  nameinput.text()
#     mobile =  mobileinput.text()

    try:
        conn = sqlite3.connect("epassdata.db")
        c =  conn.cursor()
        c.execute("""CREATE TABLE IF NOT EXISTS students (name, pas)""")
        c.execute("INSERT INTO students (name,pas) VALUES (?,?)",(name,pas))
        conn.commit()
        c.close()
        print('Successful','Student is added successfully to the database.')
        result=pd.read_sql_query("select * from students;",conn)
        print(result)
        conn.close()
    except Exception:
        print('Error', 'Could not add student to the database.')

In [65]:
addstudent("chauhanraj", "iamdevil")

Successful Student is added successfully to the database.
         name       pas
0  chauhanraj  iamdevil

In [ ]:
def deletestudent(inputname):
    try:
        conn = sqlite3.connect("epassdata.db")
        sql = 'DELETE FROM students WHERE name=?'
        c = conn.cursor()
        c.execute(sql, (inputname,))
        conn.commit()
        c.close()
        result=pd.read_sql_query("select * from students;",conn)
        print(result)
        conn.close()
        print('Successful','Deleted From Table Successful')
    except Exception:
        print('Error', 'Could not Delete student from the database.')

In [49]:
deletestudent('iamdevil')

OperationalError: no such column: iamdevil

In [63]:
def deletestudent(inputname, password):
    conn = sqlite3.connect("epassdata.db")
    sql = 'DELETE FROM students WHERE name=?'
    c = conn.cursor()
    c.execute(sql, (inputname,))
    conn.commit()
    c.close()
    result=pd.read_sql_query("select * from students;",conn)
    print(result)
    conn.close()
    print('Successful','Deleted From Table Successful')
deletestudent('chauhanraj','iamdevil')

Empty DataFrame
Columns: [name, pas]
Index: []
Successful Deleted From Table Successful